html, body {  
    margin: 0;
    padding: 0;
  }
  .node {
    cursor: pointer;
  }
  
  .node circle {
  }
  
  .node text {

  }
  
  .link {
    fill: none;
    stroke: rgb(55, 68, 105);
    stroke-width: 2px;
  }

  .nodeCard {

  }

  /* .nodeCard button {
    pointer-events: none;
  } */
  
  
  .nodeName {
    margin: 5px;
  }
  
  .nodeButton {
    margin: 5px;
  }


  